<div id="eye" class="tab-pane">
  <form>
    <fieldset>
      <legend>Horizontal scale:</legend>
      <input type="text" id="es_x">
    </fieldset>
  </form>

  <div class="ui-field-contain">
    <label for="es_y">Vertical scale:</label>
    <input type="text" id="es_y">
  </div>
  <div class="ui-field-contain">
    <label for="eo_x">Horizontal offset:</label>
    <input type="text" id="eo_x">
  </div>
  <div class="ui-field-contain">
    <label for="eo_y">Vertical offset:</label>
    <input type="text" id="eo_y">
  </div>
</div>
