<div id="eye" class="tab-pane">
  <div class="ui-field-contain">
    <label for="es_x">Horizontal scale:</label>
    <input name="es_x" value="0.7" data-role="none">
  </div>
  <div class="ui-field-contain">
    <label for="es_y">Vertical scale:</label>
    <input name="es_y" value="0.6" data-role="none">
  </div>
  <div class="ui-field-contain">
    <label for="eo_x">Horizontal offset:</label>
    <input name="eo_x" value="0" data-role="none">
  </div>
  <div class="ui-field-contain">
    <label for="eo_y">Vertical offset:</label>
    <input name="eo_y" value="0" data-role="none">
  </div>
</div>
