<div id="eye" class="tab-pane">
  <fieldset>
    <legend>Scale:</legend>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" id="es_x" name="es_x" value="0.7">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" id="es_y" name="es_y" value="0.6">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Offset:</legend>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" id="eo_x" name="eo_x" value="0">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <input type="text" id="eo_y" name="eo_y" value="0">    
      </div>
    </div>
  </fieldset>
</div>
