<div id="settings" class="tab-pane">
  <form class="form-horizontal" role="form">
      <div class="col-xs-3">
      </div>
      <div class="col-xs-9">
        <button id="factory_reset" type="button" class="btn btn-danger btn-lg">        
          Factory Reset
        </button>
      </div>
  </form>
</div>
