<div id="texture" class="tab-pane">
  <fieldset>
    <legend>texture,skin</legend>
    <input type="text" name="texture_skin" size="32">
  </fieldset>
  <fieldset>
    <legend>texture,eye</legend>
    <input type="text" name="texture_eye" size="32">
  </fieldset>
  <fieldset>
    <legend>texture,eyelash</legend>
    <input type="text" name="texture_eyelash" size="32">
  </fieldset>
  <fieldset>
    <legend>texture,eyebrow</legend>
    <input type="text" name="texture_eyebrow" size="32">
  </fieldset>
</div>
