<div id="tint" class="tab-pane">
  <ul class="nav nav-pills">
    <li class="active"><a href="#skin" data-toggle="tab">Skin</a></li>
    <li><a href="#eyelash" data-toggle="tab">Eyelash</a></li>
    <li><a href="#eyeblow" data-toggle="tab">Eyebrow</a></li>
  </ul>
  <p>
    <input type="color" name="tint" data-role="none">
  </p>
</div>
