body {
    overflow: hidden;
}

.parts .btn {
    width: 60px;
}

.parts {
    margin-bottom: 10px;
}

#command_text {
    position: fixed;
    width: 374px;
    right: 5px;
    bottom: -15px;
}

.container {
    width: auto;
}

.navbar-left {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

.navbar-nav {
    margin-left: 26px;
}

#expand {
    font-size: 1.4em;
}